{% extends "base.html"%}
<!-- <h1>All vehicles:</h1>
{% for vehicle in vehicles %}
<h2><a href="show_all?vehicle_id={{ vehicler.id }}">{{ vehicle }}</a></h2>
{% endfor %} -->


{% block content %}
<table class="table table-hover ">
<thead>
    <tr>
        <th>Vehicle Type</th>
        <th>Number</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
{% for vehicle in vehicles %}
    <tr>
        <td>{{vehicle.vehicle_type}}</td>
        <td>{{vehicle.number}}</td>
        <td>{{vehicle.status}}</td>
    </tr>
{% endfor %}
</tbody>
</table>



<!-- {% for vehicle in vehicles %}
<h2><a href="show_all?vehicle_id={{ vehicler.id }}">{{ vehicle }}</a></h2>
{% endfor %} -->




{% endblock %}
